.signup__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
/* .Input {
} */

.dashboard__input {
  width: 90%;
  margin: 10px 0px;
}

#signupmodal__submitBtn {
  margin-top: 10px;
}

#register__warning {
  text-align: center;
  margin: 15px auto auto 0;
}

#register__warning a {
  color: blue;
  cursor: pointer;
}

#register__warning a:visited,
#register__warning a:hover,
#register__warning a:active {
  color: purple;
}
