
.FollowingFollowers__modalHeader {
    width:100%; 
    text-align:center;
    padding: 10px 0px;
    border-bottom: 1px solid lightgrey;
}

.FollowingFollowers__modalTitle {
    font-weight: 500;

}

.followingFollower__username {
    /* font-weight: 600;  */
    flex: 2
}

.follow_unfollow__button {
    font-weight: bold; 
    font-size: 15px; 
    background-color: #0095f6; 
    color: white ;
    cursor: pointer;
    border: none;
    box-shadow: none;
    padding: 8px;
    border-radius: 5px;
}


.FollowingFollowers__timerBox {
    float: right;
    padding-right: 10px;
}
