.dashboard {
    margin-top: 30px;
    padding: 0px 15%;
}
.dashboard__posts { 
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

@media screen and (max-width: 599px) {
    .dashboard {
        padding: 0 20px;
    }
}